doctype html
html
    head
        title Data Express
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
        link(href="/style.css" rel="stylesheet")

    body
        if session && session.user && session.user.isAuthenticated
            include signedInNav
        else
            include signedOutNav
        section(id="main")
            block content
    
    footer Last visited this page: #{lastVisited}
    script(src="/scripts/navbar.js")
    
