mixin css(name)
	link(href="/css/"+name+".css", rel="stylesheet", type="text/css")

mixin js(name)
	script(src="/scripts/"+name+".js")

doctype html
html(lang="en")
	head
		title Data Express
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap", rel="stylesheet")
		block links
			+css("main")
		block scripts
			+js("navbar")

	body
		if session && session.user && session.user.isAuthenticated
			include signedInNav
		else
			include signedOutNav
		section#main
			block content
	
	footer Last visited this page: #{lastVisited}
