doctype html
html
    head
        title Data Express
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
        link(href="/style.css" rel="stylesheet")

    body
        block nav
        section(id="main")
            block content
    
    footer Ryan Unroe, Chaz Janke, Joe Reed
    script(src="/scripts/navbar.js")
    