extends layout


block content
	h1#title Login
	form#loginForm(method="post", action="/login", onsubmit="submitForm()")
		div#usernameDiv
			label(for="username") Username:
			input#username(type="text", name="username")
		div#passwordDiv
			label(for="password") Password:
			input#password(type="password", name="password")
		if failed
			p.errorMsg Username or password is incorrect!
		input(type="submit", value="Login")
