extends signedOut


block content
    h1(id="title") Login
    form(id="loginForm" method="post" action="/login")
        div(id="usernameDiv")
            label(for="username") Username:
            input(id="username" type="text")
        div(id="passwordDiv")
            label(for="password") Password:
            input(id="password" type="password")
        p(class="errorMsg") Username or password is incorrect!
        input(type="submit" value="Login")
    script(src="/scripts/loginValidation.js")