nav#signedIn
	div.navBtn
		a(href="/dashboard") Dashboard
	div#account
		p=session.user.username
		div#accountBtn
			div
				div.menuBar.top
				div.menuBar.mid
				div.menuBar.bot
div#screen
div#slider
	div#sliderContent
		div#sliderEdit.sliderOption
			a(href="/account/edit") Edit Account
	div#sliderLogout.sliderOption
		a(href="/logout") Logout
