nav#signedIn
	div#directoryBtnContainer
		div.navBtn
			a(href="/") Home
		div.navBtn
			a(href="/dashboard") Dashboard
	div#account
		p=session.user.username
		div#accountBtn
			div
				p &#8964;
				img#avatarImgNav(src=session.user.avatarURL)
div#screen
div#slider
	div#sliderContent
		div#sliderEdit.sliderOption
			a(href="/account/edit") Edit Account
	div#sliderLogout.sliderOption
		a(href="/logout") Logout
