extends layout

block nav
    nav(id="signedIn")
        div(id="accountBtn")
    div(id="slider")
        div(id="sliderContent")
            div(id="sliderEdit")
                a(href="/account/edit") Edit
            div(id="sliderLogout")
                a(href="/logout") Logout